.card{
    margin: auto;
    width: 70%;
    margin-block-start: 3rem;
}

.text-start{
    text-align: start;
}
.text-end{
    text-align: end;
}
.tag{
    margin-inline-end: 0;
}
@media (max-width: 768px) {
    .card {
      width: 98%;
    }
  }
  